@model SubmitClaims.Models.LecturerClaim

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>LecturerClaim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LecturerId" class="control-label"></label>
                <input asp-for="LecturerId" class="form-control" />
                <span asp-validation-for="LecturerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursWorked" class="control-label"></label>
                <input asp-for="HoursWorked" class="form-control" />
                <span asp-validation-for="HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourlyRate" class="control-label"></label>
                <input asp-for="HourlyRate" class="form-control" />
                <span asp-validation-for="HourlyRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalNotes" class="control-label"></label>
                <input asp-for="AdditionalNotes" class="form-control" />
                <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmissionDate" class="control-label"></label>
                <input asp-for="SubmissionDate" class="form-control" />
                <span asp-validation-for="SubmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
